.landing{
    background:linear-gradient(rgba(0,0,0,0.2),rgba(0,0,0,0.2)), url("../images/landing2.gif");
 
    background-repeat: no-repeat;
    position: absolute;
    background-size: cover;
    -webkit-background-size:cover;
    -moz-background-size:cover;
    -o-background-size:cover;
    height: 100%;
    width: 100%;
    background-position: center center;
    
}

.heading{
 font-family: 'Alata', sans-serif;
}
.landtxt h1{
    color: white;
    margin-top: 50vh;
}
.landtxt h4{
    color: white;
    
    font-family: 'Raleway', sans-serif;
}


/* font-family: 'Montserrat', sans-serif;
font-family: 'Raleway', sans-serif;  */