.landing{
    background:linear-gradient(rgba(0,0,0,0.2),rgba(0,0,0,0.2)), url("../images/landing2.gif");
    background-repeat: no-repeat;
    
    background-size: cover;
    -webkit-background-size:cover;
    -moz-background-size:cover;
    -o-background-size:cover;
    height: 100vh;
    width: 100%;
   
    
}

.heading{
 font-family: 'Alata', sans-serif;
}
.landtxt h1{
    color: white;
    margin-top: 35vh;
}
.landtxt h4{
    color: white;
    font-family: 'Raleway', sans-serif;
}
.decor{
    color: aqua;
    font-family: 'Montserrat', sans-serif;
    background-color: #F6F6F6;
    
}
.decor h1{
    text-shadow: 4px -5px 5px rgba(20, 226, 226, 0.678);
} 
.oceantxt{
    padding-top: 5vh;
}
    

    


/* font-family: 'Montserrat', sans-serif;
font-family: 'Raleway', sans-serif;  */